@mixin notosans {
    font-family: "Noto Sans KR";
}

@mixin clearfix {
    content: "";
    display: block;
    clear: both;
}

.adXE {
    width:100%;

    * {
        @include notosans;
    }

    h1 {
        color: #333;
        font-size: 32px;
        font-weight: 700;
    }

    .adList {
        width: 85%;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            @include notosans;
            margin-bottom: 3px;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span.notice,
        span.normal {
            border-radius: 10px;
            color: #fff;
            @include notosans;
            font-weight: 400;
            font-size: 12px;
            display: inline-block;
            width: 44px;
            height: 18px;
            line-height: 18px;
            vertical-align: middle;
            background-image: -moz-linear-gradient( -90deg, rgb(67,234,128) 0%, rgb(56,248,212) 100%);
            background-image: -webkit-linear-gradient( -90deg, rgb(67,234,128) 0%, rgb(56,248,212) 100%);
            background-image: -ms-linear-gradient( -90deg, rgb(67,234,128) 0%, rgb(56,248,212) 100%);
            background-image: linear-gradient( -90deg, rgb(67,234,128) 0%, rgb(56,248,212) 100%);
            text-align: center;
            margin-right: 6px;
            user-select: none;
            -webkit-user-drag: none;
        }

        span.normal {
            background-image: -moz-linear-gradient( 90deg, rgb(131,140,147) 0%, rgb(91,99,102) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(131,140,147) 0%, rgb(91,99,102) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(131,140,147) 0%, rgb(91,99,102) 100%);
            background-image: linear-gradient( 90deg, rgb(131,140,147) 0%, rgb(91,99,102) 100%);
        }

        .buttonDelete {
            display: inline-block;
            width: 24px;
            height: 24px;
            font-size: 24px;
            line-height: 0;
            vertical-align: middle;
            background-image: -moz-linear-gradient( -90deg, rgb(253,83,146) 0%, rgb(248,111,100) 100%);
            background-image: -webkit-linear-gradient( -90deg, rgb(253,83,146) 0%, rgb(248,111,100) 100%);
            background-image: -ms-linear-gradient( -90deg, rgb(253,83,146) 0%, rgb(248,111,100) 100%);
            background-image: linear-gradient( -90deg, rgb(253,83,146) 0%, rgb(248,111,100) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .buttonDelete a {
            vertical-align: middle;
        }

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            .buttonDelete {
                color: rgb(248,111,100);
                background-image: none;
            }
        }

        .adContent {
            display: inline-block;
            width: 50%;
            img {
                vertical-align: middle;
            }
        }
    }

    .AdOption {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .d-block {
        display: block;
    }

    .d-inline-block {
        display: inline-block;
    }

    .divider::after {
        content: "|";
        display: inline-block;
        color: #999;
        margin-left: 3px;
        margin-right: 3px;
    }

    form label {
        vertical-align: middle;
    }

    form label img {
        position: relative;
        z-index: 2;
    }

    .colorPicker {
        opacity: 0;
        position : absolute;
        left: 45px;
        width: 24px;
        height: 24px;
        z-index: 3;
    }

    .colorOverlay  {
        position : absolute;
        left: 46px;
        top: 3px;
        width: 19px;
        height: 19px;
    }
}