.adXE select.itemPicker { border:1px solid #888888; font-size:11px }

.adXE .AdButton { margin:10px 0 }

.adXE .descriptionText { margin:10px 0; padding:5px; border:2px solid #888; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -pie-border-radius:5px;}

.inputTypeText,
.inputTypeSelect {
    color: #2c2c2c;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #868f96;
    padding: 6px 7px;
    background:#ffffff;
    font-size:1em;
}

.adXE .buttonRegist {
    background: #868f96;
    border: 0 none;
    color: #fff;
    margin: 0 0 10px;
    padding: 7px 11px;
    text-align: center;
    cursor: pointer;
}

.w40 { width:40px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w90 { width:90px; }
.w100 { width:100px; }
.w110 { width:110px; }
.w120 { width:120px; }
.w130 { width:130px; }
.w140 { width:140px; }
.w150 { width:150px; }
.w160 { width:160px; }
.w170 { width:170px; }
.w180 { width:180px; }
.w190 { width:190px; }
.w200 { width:200px; }
.w210 { width:210px; }
.w220 { width:220px; }
.w230 { width:230px; }
.w240 { width:240px; }
.w250 { width:250px; }
.w260 { width:260px; }
.w270 { width:270px; }
.w280 { width:280px; }
.w290 { width:290px; }
.w300 { width:300px; }
.w400 { width:400px; }