#AdModule .AdList { width:100%; border:1px solid #888888; padding:5px; }
#AdModule .AdList tr { border-bottom:1px solid; }
#AdModule .AdList tr { line-height:150%; }
#AdModule .AdList tr:last-child {  }
#AdModule .AdList tr span.author { color:#999; }
#AdModule .AdList tr span.author.notice { color:#FF0000; }

#AdModule .AdRegister dl dd { margin-bottom:5px; }
#AdModule .AdRegister dl dd.AdOption input { vertical-align:bottom; }

#AdModule .localNavigation { border-bottom:1px solid #ccc; *zoom:1; margin:0 0 20px 0px; padding:0; overflow:hidden; }
#AdModule .localNavigation:after {content:""; display:block; clear:both;}
#AdModule .localNavigation li{ position:relative; list-style:none; float:left; margin:0 -1px 0 0; padding:0;background:#fff;}
#AdModule .localNavigation li a{ float:left; padding:7px 15px 0 15px; height:18px; border:1px solid #ddd; border-bottom:none; background:url(../img/bgTab.gif) repeat-x;}
#AdModule .localNavigation li.on { margin-bottom:-1px;}
#AdModule .localNavigation li.on a{ height:19px; background:none;}

#AdModule .localNavigation li a{ text-decoration:none !important; color:#666;}
#AdModule .localNavigation li.active a{ font-weight:bold; color:#1e6aac;}

#AdModule select.itemPicker { border:1px solid #888888; width:100px; font-size:11px;}

#AdModule select.colorPicker { border:1px solid #888888; width:35px; }
#AdModule select.colorPicker option.black { background:#000000;  }
#AdModule select.colorPicker option.red { background:#f42126;  }
#AdModule select.colorPicker option.blue { background:#145ff9;  }
#AdModule select.colorPicker option.green { background:#08830B;  }

#AdModule .AdButton { margin:10px 0; }
#AdModule strong.time { background:#eeeeee; }

.ad-search { margin:0 0 10px}
.ad-search .inputText{border:1px solid #c6c6c6;font-size:12px;padding:3px 4px}

.btnArea { margin:10px 0}
.endDate { display:none }

.required { color: #ff0000; font-size:10px}